/*  Hoja de estilos para manual Duoc UC */


/* DIRECTRICES GENERALES */

body{
	margin: 0;
	font-family: 'Myriad Pro';
	/*background:#C7CBCA;*/
	background: #fff;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 41px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 26px;
}

h5{
	font-size: 22px;
}

h6{
	font-size: 19px;
}

p{
	font-size: 19px;
	line-height: 1.6;
	letter-spacing: 0.1px;
}

a{
	font-size: inherit;
	color: #002d56;
	text-decoration: underline;
	transition: all 0.3s ease 0s;
}

a:hover{
	color: #44719A;
}



/* ANDAMIAJE */

.seccion{
	padding: 20px 40px;
	display: block;
}

.medio-suple{

	padding-top: 65px!important;
}

.suple{
	padding-top: 130px!important;
}

.full-width{
	width: 100%;
	display: block;
	max-height: 500px;
	overflow: hidden;
}

.full-width img{
	width: 100%;
}

.img{
	width: 100%;
	margin: 40px 0;
}

.left-col-1{
	margin-left: 7%;
}

.left-col-2{
	margin-left: 14%;
}

.left-col-3{
	margin-left: 25%;
}

.left-col-4{
	margin-left: 32%;
}

.col-3{
	width: 23%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 1%;
}

.col-4{
	width: 31%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 1%;
}

.col-5{
	width: 40%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 1%;
}

.col-6{
	width: 47%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 1%;
}

.col-8{
	width: 65%;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.cta{
	text-align: center;
	background: #ddd;

}

.cta p{
	font-size: 40px!important;
}

.cta a{
	/*color:#002d56;*/
	font-style: oblique;
}

.cta a:hover{
	text-decoration: underline;
	color: #44719A;
}

.destacado{
	background: #222;
	height: 500px;
}

.hero-carreras{
	position: absolute;
	top:372px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}

.hero-carreras h1{
	padding-left: 50px;
	color: #fff;
}

.hero-text{
	max-width: 400px;
	height: 450px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 50px;
	right: 0;
	padding: 0 50px;
	color: #fff;
}

.hero-text p{
	font-weight: 200;
}

.right{
	float: right;
}

.left{
	float:left;
}

/* ESCUELAS */

.escuelas-lista{
	margin-top: 30px;
}

.escuelas-min{
	width: 26%;
	margin-right: 1%;
	display: inline-block;
	border:1px solid #999;
	border-bottom:10px solid;
	padding: 5px 20px;
	height: 150px;
	vertical-align: top;
	margin-bottom: 20px;
	text-decoration: none;
}

.escuelas-min p{
	height: 65px;
}

.escuelas-min:hover{
	text-decoration: underline;
}

.directivo{
	width: 24%;
	display: inline-block;
	position: relative;
	min-height: 350px;
}

.directivo img{
	width: 150px;
	border-radius: 50%;
	display: block;
	margin:0 auto;
}

.directivo h3{
	font-size: 18px;
	text-align: center;
	height: 40px;
}

.directivo p{
	font-size: 17px;
	text-align: center;
}

/* BOTONES */

.button{
	padding: 10px 20px;
	border-radius: 8px;
	display: inline-block;
	margin: 20px 0;
	transition: all 0.3s ease 0s;
	text-decoration: none;
}

.button:hover{
	border-radius: 8px;
}

.btn-primary{
	background-color: #002d56;
	color:#fff;
}

.btn-secondary{
	background-color: #EEB829;
}

.btn-secondary:hover{
	color:#002d56;
	background-color: #F1D961;
}

.btn-primary:hover{
	background-color: #44719A;
	color: #fff;
	text-decoration: none;
}

.btn-disabled{
	background-color: #999;
	color: #777;
	cursor: not-allowed;
}

.btn-disabled:hover{
	color: #777;
}

/* HEADER / NAVBAR */

.header{
	width: 100%;
	padding: 10px 30px;
	height: 32px;
	background: #002d56;
	position: fixed;
	z-index: 999;
}

.nav-logo{
	font-weight: 600;
	text-decoration: none;
	font-size: 32px;
}

.nav-logo:hover{
	background-color: inherit;
	text-decoration: none;
}

.nav{
	float: right;
	color:#fff;
	list-style: none;
	margin-right: 5%;
	margin-top: 8px;
}

.nav a{
	/*display: inline-block;
	position: relative;*/
	padding: 0 7px;
	color: #fff;
	text-decoration: none;
}

.nav a:hover{
	background-color: inherit;
	text-shadow: 0px 0px 4px rgba(255,255,255,0.8);
}

.nav li{
	display: inline-block;
	position: relative;
	margin-right: 15px;
	vertical-align: top;
}


.header-nav a{
	float: right;
}

.header .buscador{
	max-width: 180px;
	margin-bottom: 0;
	margin-top: -7px;
	border-radius: 8px 0 0 8px;
	display: inline-block;
	border:none;
}

.boton-buscador{
	display: inline-block;
	position: relative;
	border-radius: 0 8px 8px 0;
	border: none;
	height: 30px;
	padding: 9px 10px 10px 10px;
	margin-top: -6px;
	transition: all 0.3s ease 0s;
}

.boton-buscador:hover{
	background-color: #ddd;
}

.sub-header{
	width: 100%;
	padding: 10px 30px;
	margin-top: 50px;
	height: 25px;
	background: #000;
	position: fixed;
	z-index: 998;
}

.sub-header .nav-logo{
	font-size: 22px;
}

.sub-header ul{
	margin-top: 5px;
}

.active{
	margin-top: -13px;
	padding:13px 11px 11px 13px;
}

.header-activo{
	padding-bottom: 13px;
	border-bottom: 2px solid #fff;

}

.comunicaciones{
	background-color: #B00636!important;
	color: #fff;
}

.comunicaciones a{
	color: #dfdfdf;
}

.comunicaciones a:hover{
	color: #fff;
}

.comunicaciones .active{
	background-color: #7F0005;
}

.dropdown{
	background-color: #002d56;
	padding: 0;
	margin-top: 12px;
	position: fixed;
	z-index: 9999;
}

.dropdown li{
/*	display: none!important; */
	display: block;
	padding: 10px 20px;
}

.dropdown li:hover{
	background-color: #06062C;
}

/* NOTICIAS */


#noticias p{
	font-family: 'Merriweather Light';
	font-size: 17px;
}

#noticias h1, #noticias h2,#noticias h3,#noticias h4,#noticias h5,#noticias h6{
	font-family: 'Merriweather';
}

.noticia{
	display: inline-block;
	position: relative;
	width: 31%;
	margin: 0 1%;
	transition: all 0.3s ease 0s;
	padding-bottom: 20px;
}

.noticia-full{
	display: inline-block;
	position: relative;
	transition: all 0.3s ease 0s;
	padding-bottom: 20px;
	margin-top: -35px;
}

.bajada{
	font-size: 21px!important;
	font-weight: 600;
}

.noticia-full .foto-noticia{
	height: 300px;
}

.noticia:hover, .noticia-full:hover{
	background-color: #ddd;
	color:#B20028;
}

.texto-noticia{
	padding: 0 20px;
}


.texto-noticia h2{
	font-size: 30px;
	letter-spacing: 0.3px;
	color:#B20028;

}

.texto-noticia p{
	line-height: 1.6;
	font-family: 'Times New Roman';
}

.texto-noticia a{
	font-style: oblique;
	color:#B20028;
}

.foto-noticia{
	height: 150px;
	overflow: hidden;
}

.foto-noticia img{
	max-width: 100%;
}

#reciente .noticia{
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.cat{
	display: inline-block;
	position: relative;
	width: 20%;
	vertical-align: top;
	padding-left: 10px;
}

#reciente .texto-noticia{
	display: inline-block;
	position: relative;
	width: 70%;
}

#reciente .texto-noticia h2{
	color: #000;
	margin-top: 18px;
	margin-bottom: 0;
}

.noticia-info p{
	font-family: 'Myriad Pro'!important;
}

.noticia-rel p{
	padding: 0 20px;
}

.noticia-interior{
	height: auto;
}
/* FORMULARIOS */


label{
	display: block;
	font-size: 17px;
	margin-bottom: 5px;
	font-weight: 600;
}

input, textarea, select{
	font-family: 'Myriad Pro';
	display: block;
	border-radius: 8px;
	font-size: 19px;
	line-height: 1.6;
	letter-spacing: 0.1px;
	border:1px solid #002d56;
	padding: 0 10px;
	margin-bottom: 20px;
	width: 100%;
}

textarea{
	min-height: 150px;
}

input:focus, textarea:focus, select:focus{
	box-shadow: 0 0 2px #002d56;
}

.radio-responsive{
	display: inline-block;
}

.radio input{
	width: initial;
	display: inline-block;
	margin-right: 10px;
}

.radio p{
	display: inline-block;
	width: unset;
	margin-right: 20px;
}

.login{
	display: block;
	margin: 0 auto;
	width:100%;
	max-width: 400px;
}

.hide{
	display: none;
}

.buscador-carreras{
	width: 60%;
	display: inline-block;
	border-radius: 8px 0 0 8px;
}

.boton-buscador-carreras{
	display: inline-block;
	position: relative;
	border-radius: 0 8px 8px 0;
	border: 1px solid;
	height: 32px;
	padding: 9px 9px 10px 8px;
	margin-top: -6px;
	transition: all 0.3s ease 0s;
	border-left: none;
	cursor: pointer;
}

/*EVENTOS*/

.event{
	font-family: 'Myriad Pro' !important;
	display: block;
	color: #000;
	text-decoration: none;
	margin-bottom: 40px;
}

.event:hover{
	color: #B20028;
}

.event h3{
	color:#B20028;
	font-size: 25px;
	font-weight: 600;
	margin: 5px 0;
	font-family: 'Myriad Pro'!important;
}
.event .fecha{
	line-height: 1;
	font-weight: 900;
	margin: 5px 0;
	font-family: 'Myriad Pro'!important;
}

.event .ubicacion{
	font-size: 13px!important;
	margin: 5px 0;
	font-style: oblique;
}

/* FOOTER */

.footer{
	padding: 10px 30px;
	background: #002d56;
	color:#fff;
}

.footer .col-4{
	padding: 0.9%;
}

.footer .title{
	text-transform: uppercase;
	margin-bottom: 10px;
}

.footer ul{
	list-style: none;
}

.footer a{
	color: #999;
	text-decoration: none;
}

.footer a:hover{
	color: #fff;
	text-decoration: underline;
}

.acreditacion{
	display: block;
	margin: 0 auto;
}

.sub-footer{
	background:#06062C;
}

/* CARRERAS */

.carreras p{
	font-size: 15px;
}

.carreras ul{
	padding-left: 15px;
}

.info-carrera{
	margin-top: 0;
}

.sedes{
	margin-bottom: 20px;
}

.sedes h3{
	margin-top: 0;
}

.sedes header{
	background-color: #002d56;
	color: #fff;
	padding: 10px;
}

.sedes ul{
	border:1px solid #bfbfbf;
	margin: 0;
	padding: 10px 30px;
}

.sedes li{
	padding-bottom: 10px;
}

/* UTILIDADES */

.separador-right{
	border-right: 1px solid #fff;
}

.separador-bottom{
	border-bottom: 1px solid #fff;
}

/* Acordeón */

.acordeon header{
	border-bottom: 1px solid #bfbfbf;
	background-color: #eee;
	transition: all 0.3s ease 0s;
}

.acordeon header:hover{
	background-color: #ddd;
}

.acordeon header button{
	border:none;
	background:none;
	width: 100%;
	text-align: left;
	padding: 10px 10px 10px 20px;
	font-size: 15px;
}

.acordeon header button span{
	float: right;
}

.acordeon .texto{
	padding: 10px 20px;
	background-color: #fcfcfc;
}

.acordeon .texto p{
	font-size: 15px;
}

.seccion-acordeon{
	border:1px solid #bfbfbf;
	margin-top: -2px;
}

/* TABS */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #002d56;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
